@import "../../../Assets/theme/_var.scss";

.change-modal {
  .customInput_inner {
    border: 1px solid $orangeclr;
    border-radius: 3.5rem;
    background-color: white;

    .form-control {
      padding: 0 2rem;
    }

    &:focus {
      box-sizing: unset;
      outline: unset;
    }

    &::placeholder {
      color: rgba($white2, 0.6);
    }
  }

  .form-label {
    color: $black2;
  }
}
