@import "../../../Assets/theme/_var.scss";

.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  min-width: 28rem;
  transition: transform 300ms ease-in-out;
  z-index: 1001;
  background-color: $baseColor3;
  box-shadow: $boxShadow;

  @media (max-width: 379px) {
    width: 100%;
  }

  &_inner {
    height: 100%;
    width: 30rem;
    background: #131027;
    border-right: 1px solid #f3f3f3;

    &_header {
      padding: 2rem;
      text-align: center;

      img {
        width: 27rem;
        height: 19.6rem;
      }
    }

    li {
      margin: 0 1.5rem;
      border-radius: 5rem;
      transition: 0.4s ease all;

      &:hover {
        background: linear-gradient(
          226.41deg,
          #4169ef40 0%,
          rgba(42, 29, 137, 0.25) 74.39%
        );
      }

      &:first-child {
        margin-top: 4rem;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .nav_link {
      padding: 1.5rem 1.2rem;
      display: flex;
      position: relative;
      align-items: center;
      font-size: 1.6rem;
      color: $gray4;
      padding-left: 4.8rem;
      font-weight: 500;

      &:hover {
        color: $white;

        svg {
          path {
            fill: $white;
          }
        }
      }

      @media (max-width: 1439px) {
        font-size: 1.6rem;
      }

      @media (max-width: 991px) {
        font-size: 1.4rem;
        padding: 1rem 1.2rem;
      }

      &_icon {
        margin-right: 10px;
      }

      &.active {
        background: linear-gradient(
          90deg,
          #ff992e 0%,
          #f88038 22%,
          #e74352 67%,
          #da1467 100%
        );
        color: $white;
        border-radius: 5rem;

        svg path {
          fill: $white;
        }

        &::after {
          content: "";
        }
      }
    }
  }

  @media (max-width: 991px) {
    transform: translateX(-100%);
  }
}
