@import "./Assests/theme/_var.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
    font-family: $baseFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white;
    // background-image: url(./Assets/Images/main_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

html,
body,
#root {
  height: 100%;
}

.row {
  margin: 0 -15px;

  > div {
    padding: 0 15px;
  }
}

img,
svg {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.no_internet_connection {
  color: whitesmoke;
  background-color: $orangeclr;
  z-index: 100;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0.7rem;

  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: $borderColor3;

  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  // back8round-color: $baseColor;
  /* color of the scroll thumb */
  border-radius: 1.5rem;
  /* roundness of the scroll thumb */
  border: 1px solid $orangeclr;

  background-color: $orangeclr;
  /* creates padding around scroll thumb */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  // font-family: $baseFont2;
  font-weight: 400;

  span {
    color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: $white;
  }
}

h1 {
  font-size: 5.4rem;

  @media (max-width: 1679px) {
    font-size: 4rem;
  }

  @media (max-width: 1199px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h2,
.h2 {
  font-size: 5rem;

  @media (max-width: 1679px) {
    font-size: 3.6rem;
  }

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h3,
.h3 {
  font-size: 4.4rem;

  @media (max-width: 1679px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 2.4rem;

  @media (max-width: 1679px) {
    font-size: 2.2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

h5,
.h5 {
  font-size: 2.2rem;

  @media (max-width: 1679px) {
    font-size: 2rem;
  }
}

h6,
.h6 {
  font-size: 2rem;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 400;
  // color: rgba($white, 0.8);

  @media (max-width: 1679px) {
    font-size: 1.4rem;
  }

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

small,
.small {
  font-size: 1rem;
}

.green_text {
  color: $primaryColor !important;
}

.red_text {
  color: #f00 !important;
}

.container {
  max-width: 1574px;

  @media (max-width: 1399px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 960px;
  }
}

.inner-page {
  background-color: $baseColor;
  height: 100%;
  padding: 4rem 0;
}

.error-message {
  font-size: 1.2rem;
  color: #f00;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  color: $white;
  font-family: inherit;
  font-size: 1rem;
  background: #0d171b !important;
  border: 1px solid #22353d;
  -webkit-backdrop-filter: blur(3.7rem);
  backdrop-filter: blur(3.7rem);
  border-radius: 4rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: $orangeclr;
  font-size: 1.6rem;
  border-radius: 3rem;
}

div:where(.swal2-icon).swal2-info {
  border-color: $orangeclr;
  color: $orangeclr;
}

.select__control {
  background-color: $white;
}

/*tab css*/

.nav-tabs {
  border-bottom: none;
  margin-bottom: 3rem;
  flex-wrap: unset;

  .nav-item {
    max-width: 15.8rem;
    width: 100%;
    margin-right: 1rem;

    @media (max-width: 479px) {
      margin-right: 0.8rem;
    }

    button {
      margin: 0;
      border: none;
    }

    .nav-link {
      display: inline-block;
      color: #b8b8b8;
      border-radius: 5rem;
      border: 1px solid #b8b8b8;
      max-width: 15.8rem;
      width: 100%;
      font-size: 1.6rem;
      padding: 2rem 1.5rem;
      line-height: 0.5;
      min-width: 10rem;
      height: 100%;

      @media (max-width: 575px) {
        font-size: 1.1rem;
        padding: 1rem 0.5rem;
        min-width: 8.6rem;
      }

      @media (max-width: 479px) {
        line-height: 1;
      }

      &:hover,
      &.active {
        color: $white;
        background: linear-gradient(
          90deg,
          #ff992e 0%,
          #f88038 22%,
          #e74352 67%,
          #da1467 100%
        );
      }

      &:focus-visible {
        box-shadow: unset;
      }
    }
  }
}

.common-heading {
  display: none;

  @media (max-width: 1199px) {
    display: block !important;
    margin-bottom: 2rem;
  }
}

input[type="checkbox"] {
  accent-color: #da7a2f;
  color: $white;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 0.4rem;
    background: $white;
    top: 1.9rem;
    left: 0.4rem;
  }
}

/*tab css*/

.select__multi-value__label {
  input[type="checkbox"] {
    display: none;
  }
}

.post_inputNew {
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center right 20px;
  appearance: none;
  -webkit-appearance: none;
  height: 6rem;
  padding: 1.3rem 1rem 1.3rem 2.7rem !important;
  position: relative;
  line-height: normal !important;

  @media (max-width: 1679px) {
    height: 4.5rem;
  }
}

input[type="date" i]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 2.1rem;
  cursor: pointer;
}

sup {
  font-size: 1.8rem;
  color: red;
  position: relative;
  top: 1px;
  left: 1px;
}

.form-control:disabled {
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  color: gray;
}

.btn-style:disabled {
  background-color: var(--bs-secondary-bg);
  background: var(--bs-secondary-bg);
  opacity: 1;
  color: gray;

  &:hover {
    color: gray !important;
    border: 1px solid transparent;
  }
}

.small {
  &-text {
    &-form {
      font-size: 1.2rem;
      color: red;
    }
  }
}
